{% extends "base.html" %}
{% load static %}
{% block content %}
	<h1>Modification du modèle de BAC</h1>
	<form method='POST' action='/gestionEnseignement/modifierBAC'>
		{% csrf_token %}
		{{ form.as_p }}
		<input type="hidden" name="idBAC" value="{{modeleBAC.id}}">
		<input type="submit" value="Valider">
		<input type="reset" value="Annuler">
		<input type="button" value="Retour" onClick="history.go(-1);return true;">
	</form>
{% endblock %}
