{% extends "base.html" %}
{% load static %}
{% block content %}
	
	<h2>Modèle : {{modele.nom}} <a href="/gestionEnseignement/paramModifierInformationsModeleFormation/{{modele.id}}"><input type="button" value="Modifier l'intitulé ou la description du modèle" /></a></h2>
	
	<p>{{modele.description}}</p>
	
	<ul id="listeSemestre">
		{% for semestre in semestres %}
		
			<li>Semestre : {{semestre.intitule}} ({{semestre.typeSemestre}})
				 - <a href="/gestionEnseignement/paramModifierSemestre/{{modele.id}}/{{semestre.id}}"><input type="button" value="modifier" /></a>
				 - <a href="/gestionEnseignement/supprimerSemestre/{{modele.id}}/{{semestre.id}}"><input type="button" value="supprimer" 
				{% if semestre in semestresNonSupprimableEtudiant %}
					 disabled
					 alt="Ce semestre n'est plus supprimable car il est liée a des étudiants"
					 title="Ce semestre n'est plus supprimable car il est liée a des étudiants"
				{% elif semestre in semestresNonSupprimableStructureMinimum %}
					 disabled
					 alt="Vous devez garder une structure minimum de 4 semestres"
					 title="Vous devez garder une structure minimum de 4 semestres"
				{% endif %}
				/></a><ul id="listeUE">
				{% for ue in UEs %}
				
					{% if ue.modeleSemestre == semestre %}
					
						<li>UE {{ue.codeApogee}} : {{ue.intitule}} ({{ue.code}}) coefficient : {{ue.coefficient}}
							 - <a href="/gestionEnseignement/paramModifierUE/{{modele.id}}/{{ue.id}}"><input type="button" value="modifier" /></a>
							 - <a href="/gestionEnseignement/supprimerUE/{{modele.id}}/{{ue.id}}"><input type="button" value="supprimer" 
							{% if semestre in semestresStructureNonAlterable %}
								 disabled
								 alt="Vous ne pouvez pas supprimer cette UE car des étudiants ont des moyennes qui lui sont lié"
								 title="Vous ne pouvez pas supprimer cette UE car des étudiants ont des moyennes qui lui sont lié"
							{% endif %}
							/></a><ul id="listeModule">
							{% for module in modules %}
							
								{% if module.modeleUE == ue %}
								
									<li>Module {{module.codeApogee}} : {{module.intitule}} ({{module.code}}) coefficient : {{module.coefficient}}
										 - <a href="/gestionEnseignement/paramModifierModule/{{modele.id}}/{{module.id}}"><input type="button" value="modifier" /></a>
										 - <a href="/gestionEnseignement/supprimerModule/{{modele.id}}/{{module.id}}"><input type="button" value="supprimer" 
										{% if semestre in semestresStructureNonAlterable %}
											 disabled
											 alt="Vous ne pouvez pas supprimer ce module car des étudiants ont des moyennes qui lui sont lié"
											 title="Vous ne pouvez pas supprimer ce module car des étudiants ont des moyennes qui lui sont lié"
										{% endif %}
										/></a></li>
								{% endif %}
							
							{% endfor %}
							<li><a href="/gestionEnseignement/paramAjouterModule/{{modele.id}}/{{ue.id}}"><input type="button" value="Ajouter un module"
							{% if semestre in semestresStructureNonAlterable %}
								 disabled
								 alt="Vous ne pouvez pas ajouter de module à ce semestre car des étudiants ont des moyennes qui lui sont lié"
								 title="Vous ne pouvez pas ajouter de module à ce semestre car des étudiants ont des moyennes qui lui sont lié"
							{% endif %}
							/></a></li>
						</ul><!-- Fin listeModule --></li>
					
					{% endif %}
				
				{% endfor %}
				<li><a href="/gestionEnseignement/paramAjouterUE/{{modele.id}}/{{semestre.id}}"><input type="button" value="Ajouter une UE" 
				{% if semestre in semestresStructureNonAlterable %}
					 disabled
					 alt="Vous ne pouvez pas ajouter d'UE à ce semestre car des étudiants ont des moyennes qui lui sont lié"
					 title="Vous ne pouvez pas ajouter d'UE à ce semestre car des étudiants ont des moyennes qui lui sont lié"
				{% endif %}
				/></a></li>
			</ul><!-- Fin listeUE --></li>
		
		{% endfor %}
		<li><a href="/gestionEnseignement/paramAjouterSemestre/{{modele.id}}"><input type="button" value="Ajouter un semestre" /></a></li>
	</ul><!-- Fin listeSemestre -->
	
	<a href="/gestionEnseignement/"><input type="button" value="Retour à la liste des modèles de formation" /></a>
{% endblock %}