{% extends "base.html" %}
{% load static %}
{% block content %}
	<h1>Ajout d'un nouvel Etudiant (étape 1/3)</h1>
	
	<h2>Informations de gestion :</h2>
	
	<form method='POST' action='/gestionEtudiant/ajouterEtudiantInfoPerso'>
		{% csrf_token %}
		
		<p><label for="id_numero">Numéro étudiant :</label> <input id="id_numero" name="numero" type="number" required /></p>
		
		<!--<p><label for="id_modeleFormation">Modèle de formation :</label>
		{% if not modelesFormation %}
			 Aucun modèle de formation existant ! <a href="/travaux"><input type="button" value="Créer un modèle de formation"></a>
		{% else %}
		<select id="id_modeleFormation" name="modeleFormation" required>
			{% for modele in modelesFormation %}
				<option value="{{modele.id}}">{{modele.nom}}</option>
			{% endfor %}
		</select></p>
		{% endif %}-->
		
		<p><label for="id_semestre">Semestre :</label> <select id="id_semestre" name="semestre" required>
			{% for semestre in semestresPossible %}
				<option value="{{semestre.id}}">{{semestre}}</option>
			{% endfor %}
		</select></p>
		
		<p><label for="id_anneeUniversitaire">Année universitaire :</label> <select id="id_anneeUniversitaire" name="anneeUniversitaire" required>
			{% for annee in anneesUniversitaires %}
				<option value="{{annee}}" {% if anneeParDefaut == annee %}selected{% endif %} >{{annee}}</option>
			{% endfor %}
		</select></p>
		
		<input type="submit" value="Valider">
		<input type="reset" value="Annuler">
		<input type="button" value="Retour" onClick="history.go(-1);return true;">
	</form>
{% endblock %}