{% extends "base.html" %}
{% load static %}
{% block content %}
	
	<script src="/static/onglets.js" type="text/javascript" > </script>
	{% if messageAAfficher %}
		<p>{{messageAAfficher}}</p>
	{% endif %}
	<br>
	<h1>{{etudiant.nom}} {{etudiant.prenom}}
	 - <a href="/gestionEtudiant/{{etudiant.numero}}/supprimerEtudiant"><input type="button" value="Supprimer l'étudiant" /></a>
	 - <input type=button value="Retour" onClick="javascript:history.go(-1);"></h1>
	
	<ul id="onglets">
		<li class="actif">Informations de gestion</li>
		<li> Informations personnelles</li>
		<li> Informations cursus</li>
		<li> Historique des moyennes</li>
	</ul>
	<div id="contentonglets">	
	
		<div class="item">
			<h2>Informations de gestion
			
			{% if etudiant.semestreActuel != None %}
			 - <a href="/gestionEtudiant/{{etudiant.numero}}/modifierEtudiantInfoGestion"><input type="button" value="Modifier" /></a>
			{% endif %}
			</h2>
			
			<p>Numero : {{etudiant.numero}}</p>
			<p>Statut : {{ etudiant.statut }}
			{% if etudiant.semestreActuel != None %}
			 - <a href="/gestionEtudiant/{{etudiant.numero}}/modifierStatutEtudiant"><input type="button" value="{{ texteModifierStatut }}" /></a>
			{% endif %}
			</p>
			
			{% if etudiant.semestreActuel != None %}
				<p>Semestre actuel : {{etudiant.semestreActuel}}<ul>
					<li>Modèle de formation de ce semestre : {{modeleFormation}}
					 - <a href="/gestionEtudiant/{{etudiant.numero}}/modifierModeleFormationDuSemestreAnnualise">
					<input type="button" value="Modifier le modèle utilisé pour le {{etudiant.semestreActuel}}"
					{% if not droitDeModifierModeleFormationDuSemestreAnnualise %}
						disabled
						alt="Impossible de modifier le modèle de formation pour ce semestre car il a déjà des moyennes"
						title="Impossible de modifier le modèle de formation pour ce semestre car il a déjà des moyennes"
					{% endif %}
					></a></li>
					{% if plusieurModeleSemestreCorrespondant %}
						<li>Le modèle de formation "{{modeleFormation}}" comporte plusieur modèle de semestre possible pour le {{etudiant.semestreActuel.semestre}}. Modèle de semestre actuellement utilisé : {{modeleSemestreCorrespondant}}
						 - <a href="/gestionEtudiant/{{etudiant.numero}}/modifierVersionSemestreActuelEtudiant">
						<input type="button" value="Modifier"
						{% if not droitDeModifierVersionSemestreActuelEtudiant %}
							disabled
							alt="Impossible de modifier la version du semestre actuel de cet étudiant car il a déjà des moyennes pour ce semestre"
							title="Impossible de modifier la version du semestre actuel de cet étudiant car il a déjà des moyennes pour ce semestre"
						{% endif %}
						></a></li>
					{% endif %}
					</ul></p>
			{% endif %}
		</div><!-- fin div item gestion -->	
		
		<div class="item">
			<h2>Informations personnelles
			 - <a href="/gestionEtudiant/{{etudiant.numero}}/modifierEtudiantInfoPerso"><input type="button" value="Modifier" /></a></h2>
			
			<p>Nom : {{etudiant.nom}}</p>
			<p>Prénom : {{etudiant.prenom}}</p>
			
			<p>Sexe : 
			{% if etudiant.sexe != None %}
				{{etudiant.sexe}}
			{% else %}
				Non renseigné
			{% endif %}</p>
			
			<p>Date de Naissance : 
			{% if etudiant.dateNaissance != None %}
				{{etudiant.dateNaissance}}
			{% else %}
				Non renseigné
			{% endif %}</p>
			
			<p>Telephone : 
			{% if etudiant.telephone != '' %}
				{{etudiant.telephone}}
			{% else %}
				Non renseigné
			{% endif %}</p>
			
			<p>Adresse : 
			{% if etudiant.adresse != '' %}
				{{etudiant.adresse}}
			{% else %}
				Non renseigné
			{% endif %}</p>
			
			<p>Email : 
			{% if etudiant.email != '' %}
				{{etudiant.email}}
			{% else %}
				Non renseigné
			{% endif %}</p>
		
			{% if etudiant.informationsSupplementaires != None %}
			<p>Informations supplémentaires :<ul>
				<li>{{etudiant.informationsSupplementaires}}</li>
			{% endif %}</ul></p>
		</div><!-- fin div item gestion -->	
		
		<div class="item">
			<h2>Informations concernant le cursus de l'étudiant</h2>
			
			<h3>BAC
			 - <a href="/gestionEtudiant/{{etudiant.numero}}/modifierEtudiantInfoBAC"><input type="button" value="Modifier" /></a></h3>
			
			{% if etudiant.BAC != None %}
			<p>intitule : 
				{{etudiant.BAC.intitule}}<ul>
					<li>Obtenu en : 
					{% if etudiant.anneeBAC != None %}
						{{etudiant.anneeBAC}}
					{% else %}
						Non renseigné
					{% endif %}
					</li>
					
					<li>Mention : 
					{% if etudiant.mentionBAC != None %}
						{{etudiant.mentionBAC}}
					{% else %}
						Non renseigné
					{% endif %}
					</li>
				</ul>
			{% else %}
				Non renseigné
			{% endif %}
			</p>
			
			<h3>Cursus pré-DUT</h3>
			
			{% if not cursusPreDUT %}
				<p>Aucun cursus Pré-DUT</p>
			{% else %}
				<table class="listeTable">
					<tr>
						<th>Année universitaire</th>
						<th>Intitulé</th>
						<th>Lieu</th>
						<th>Informations supplémentaires</th>
					</tr>
					{% for cursus in cursusPreDUT %}
						<tr>
							<td>{{cursus.anneeUniversitaire}}</td>
							<td>{{cursus.cursus.intitule}}</td>
							<td>{{cursus.lieu}}</td>
							<td>{{cursus.cursus.informationsSupplementaires}} {{cursus.informationsSupplementaires}}</td>
							<td><a href="/gestionEtudiant/{{cursus.id}}/modifierCursusPreDUT"><input type="button" value="Modifier" /></a></td>
							<td><a href="/gestionEtudiant/{{cursus.id}}/supprimerCursusPreDUT"><input type="button" value="Supprimer" /></a></td>
						</tr>
					{% endfor %}
				</table><br>
			{% endif %}
			<a href="/gestionEtudiant/{{etudiant.numero}}/ajouterCursusPreDUT"><input type="button" value="Ajouter un cursus Pré-DUT"></a>
			
			<h3>Cursus post-DUT</h3>
			
			{% if not cursusPostDUT %}
				<p>Aucun cursus Post-DUT</p>
			{% else %}
				<table class="listeTable">
					<tr>
						<th>Année universitaire</th>
						<th>Intitulé</th>
						<th>Lieu</th>
						<th>Informations supplémentaires</th>
					</tr>
					{% for cursus in cursusPostDUT %}
						<tr>
							<td>{{cursus.anneeUniversitaire}}</td>
							<td>{{cursus.cursus.intitule}}</td>
							<td>{{cursus.lieu}}</td>
							<td>{{cursus.cursus.informationsSupplementaires}} {{cursus.informationsSupplementaires}}</td>
							<td><a href="/gestionEtudiant/{{cursus.id}}/modifierCursusPostDUT"><input type="button" value="Modifier" /></a></td>
							<td><a href="/gestionEtudiant/{{cursus.id}}/supprimerCursusPostDUT"><input type="button" value="Supprimer" /></a></td>
						</tr>
					{% endfor %}
				</table><br>
			{% endif %}
			<a href="/gestionEtudiant/{{etudiant.numero}}/ajouterCursusPostDUT"><input type="button" value="Ajouter un cursus Post-DUT"></a>
			
		</div><!-- fin div item gestion -->	
			
		<div class="item">
			<h2>Historique des moyennes</h2>
			
			{% for tableau in tableaux %}
			
				{% if tableau.ligneEntete == 'PAS_DE_MOYENNE' %}
				
					<p>Aucune Moyenne pour le semestre {{tableau.semestreAnnualise}}! <a href="/gestionEtudiant/{{etudiant.numero}}/modifierMoyenne/{{tableau.semestreAnnualise.id}}"><input type="button" value="Ajouter les moyennes manuellement" /></a></p>
				
				{% else %}
					<table class="tableauMoyenne">
						<tr>
							<td colspan="3" class="celluleEnOrange">Semestre {{ tableau.semestreAnnualise }}</td>
							<td class="celluleEnOrange"><a href="/gestionEtudiant/{{etudiant.numero}}/modifierMoyenne/{{tableau.semestreAnnualise.id}}"><input type="button" value="Modifier"></a></td>
						</tr>
						
						{% for divUE in tableau.listeDivisionUE %}
							
							<tr>
								<td rowspan="{{ divUE.nbModule }}" class="celluleEnBleu">Moyenne {{ divUE.labelUE }}</td>
								<td rowspan="{{ divUE.nbModule }}" class="celluleEnBleu">{{ divUE.moyenneUE }}</td>
							
							{% for divModule in divUE.listeDivisionModule %}
								
								{% if divModule.numeroModule != 0 %}
							<tr>
								{% endif %}
								
								<td class="celluleEnVert">Moyenne {{ divModule.labelModule }}</td>
								<td class="celluleEnVert">{{ divModule.moyenneModule }}</td>
								
							</tr>
								
							{% endfor %}
							
						{% endfor %}
						
						<tr>
							<td colspan="3" class="celluleEnOrange">Moyenne du semestre</td>
							<td class="celluleEnOrange">{{ tableau.moyenneSemestre }}</td>
						</tr>
						
					</table>
				{% endif %}
				
			{% endfor %}
			<br>
			
		</div><!-- fin div item gestion -->	
	</div> <!-- fin div contnu_onglets -->
	<br>
	<div id="buttonEtu">
	<input type=button value="Page précédente" onClick="javascript:history.go(-1);" >
	<a href="/gestionEtudiant/listeEtudiant"><input type="button" value="Retour à la gestion des étudiants" /></a>
	</div> <!-- fin div id="buttonEtu"-->
{% endblock %}