{% extends "base.html" %}
{% load static %}
{% block content %}
	
	{% if messageAAfficher %}
		<p>{{messageAAfficher}}</p>
	{% endif %}
	
	<h1>Liste des étudiants</h1>
	<form action="/gestionEtudiant/listeEtudiant" method="POST">
		{% csrf_token %}
		
		<h2>Filtres de recherche :</h2>
		<div id="filtre">
			<h3>Semestre actuel et passés :</h3>
			
			<label>Actuellement au semestre : </label><select name="idActuelSemestre">
				<option value='ALL' {% if actuelSemestreDefault == 'ALL' %} selected {% endif %}>Tous</option>
				<option value='NA' {% if actuelSemestreDefault == 'NA' %} selected {% endif %}>Plus à l'IUT</option>
				{% for semestre in semestresActuel %}
					<option value='{{semestre.id}}' {% if actuelSemestreDefault == semestre.id|stringformat:"i" %} selected {% endif %}>{{semestre}}</option>
				{% endfor %}
			</select><br><br>
			
			<label>Ayant été au semestre : </label><select name="idAncienSemestre">
				<option value='ALL' {% if ancienSemestreDefault == 'ALL' %} selected {% endif %}>Tous</option>
				{% for semestre in semestresAnnualises %}
					<option value='{{semestre.id}}' {% if ancienSemestreDefault == semestre.id|stringformat:"i" %} selected {% endif %}>{{semestre}}</option>
				{% endfor %}
			</select><br><br>
		</div><!-- fin div id filtre -->
		<div id="filtreCasP">
            <div id="filtreCasPpart1">
				<h3>Redoublement :</h3>
				
				<input type="radio" name="redoublant" value="all" {% if redoublantDefaut == 'all' %} checked {% endif %}><label>Tous </label><br><br>
				
				<input type="radio" name="redoublant" value="oui" {% if redoublantDefaut == 'oui' %} checked {% endif %}><label>Redoublant</label><br><br>
				
				<input type="radio" name="redoublant" value="non" {% if redoublantDefaut == 'non' %} checked {% endif %}><label>Non redoublant</label><br><br>
				
			</div><!-- fin div id filtreCasPpart1 -->
		
			<div id="filtreCasPpart2">
				<h3>Statut :</h3>
				
				<input type="radio" name="diplome" value="all" {% if diplomeDefaut == 'all' %} checked {% endif %}><label>Tout</label><br><br>
				
				<input type="radio" name="diplome" value="iut" {% if diplomeDefaut == 'iut' %} checked {% endif %}><label>A l'IUT</label><br><br>
				
				
				<input type="radio" name="diplome" value="diplo" {% if diplomeDefaut == 'diplo' %} checked {% endif %}><label>Diplomé</label><br><br>
				
				<input type="radio" name="diplome" value="reo" {% if diplomeDefaut == 'reo' %} checked {% endif %}><label>Réorienté</label><br><br>
			</div><!-- fin div id filtreCasPpart2 -->
		</div>
		<br>
        <div id="tri">
			<h2>Critère de tri :</h2>
			
			<p>Trier par :
			<input type="radio" name="trie" value="numero" {% if trieDefault == 'numero' %}checked{% endif %}>Numéro
			<input type="radio" name="trie" value="nomPrenom" {% if trieDefault == 'nomPrenom' %}checked{% endif %}>Nom et Prénom</p>
			<input type="submit" class="boutonListeEtu" value="Chercher">
		 </div><!-- fin div id tri -->
	</form>
	
	{% if request.method == 'POST' %}
		{% if not etudiants %}
			<p>Aucun etudiant ne correspond aux critères de recherche.</p>
		{% else %}
			<table class="listeTable">
				<tr>
					<th>Numéro</th>
					<th>Nom</th>
					<th>Prénom</th>
					<th>Semestre actuel</th>
				</tr>
				{% for etudiant in etudiants %}
					<tr>
						<td>{{etudiant.numero}}</td>
						<td>{{etudiant.nom}}</td>
						<td>{{etudiant.prenom}}</td>
						<td>
						{% if etudiant.semestreActuel == None %}
							Plus à l'IUT
						{% else %}
							{{etudiant.semestreActuel}}
						{% endif %}
						</td>
						<td><a href="{{etudiant.numero}}"><input type="button" value="Consulter cet étudiant"></a></td>
					</tr>
				{% endfor %}
			</table>
		{% endif %}
	{% endif %}
	
{% endblock %}
