{% extends "base.html" %}
{% load static %}
{% block content %}
	<h1>Modification des informations personnelles de l'etudiant {{ etudiant.nom }} {{ etudiant.prenom }}</h1>
	<form method='POST' action='#'>
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Valider">
		<input type="reset" value="Annuler">
		<input type="button" value="Retour" onClick="history.go(-1);return true;">
	</form>
{% endblock %}