{% extends "base.html" %}
{% load static %}
{% block content %}
	<h1>Modification du cursus Post-DUT {{cursus}} de l'étudiant {{etudiant.nom}} {{etudiant.prenom}}</h1>
	
	<form method='POST' action='#'>
		{% csrf_token %}
		
		<p><label for="annee">Année universitaire :</label> <select id="annee" name="annee" required>
			{% for annee in anneesUniversitaires %}
				<option value="{{annee}}">{{annee}}</option>
			{% endfor %}
		</select></p>
		
		{{ form.as_p }}
		
		<input type="submit" value="Valider">
		<input type="reset" value="Annuler">
		<input type="button" value="Retour" onClick="history.go(-1);return true;">
	</form>
{% endblock %}