{% extends "base.html" %}
{% load static %}
{% block content %}
	<h1>Modification des informations concernant le BAC de l'etudiant {{ etudiant.nom }} {{ etudiant.prenom }}</h1>
	
	<form method='POST' action='#'>
		{% csrf_token %}
		
		<p><label for="id_BAC">BAC :</label> <select id="id_BAC" name="BAC">
		
		<option value=""
		{% if etudiant.BAC == None %}
			 selected="selected"
		{% endif %}
		>---------</option>
		
		{% for BAC in BACs %}
			<option value="{{BAC.id}}"
			{% if etudiant.BAC == BAC %}
				 selected="selected"
			{% endif %}
			>{{BAC}}</option>
		{% endfor %}
		
		</select></p><!-- Fin select BAC -->
		
		<p><label for="id_mentionBAC">Mention du BAC :</label> <select id="id_mentionBAC" name="mentionBAC">
		
		<option value=""
		{% if etudiant.mentionBAC == None %}
			 selected="selected"
		{% endif %}
		>---------</option>
		
		{% for mention in mentions %}
			<option value="{{mention.id}}"
			{% if etudiant.mentionBAC == mention %}
				 selected="selected"
			{% endif %}
			>{{mention}}</option>
		{% endfor %}
		
		</select></p><!-- Fin select mention -->
		
		<p><label for="anneeBAC">Année du BAC :</label> <select id="anneeBAC" name="anneeBAC">
		
		<option value=""
		{% if etudiant.anneeBAC == None %}
			 selected="selected"
		{% endif %}
		>---------</option>
		
		{% for annee in anneesUniversitaires %}
			<option value="{{annee}}"
			{% if etudiant.anneeBAC.anneeUniversitaire == annee %}
				 selected="selected"
			{% endif %}
			>{{annee}}</option>
		{% endfor %}
		</select></p><!-- Fin select anneeBAC -->
		
		<input type="submit" value="Valider">
		<input type="reset" value="Annuler">
		<input type="button" value="Retour" onClick="history.go(-1);return true;">
	</form>
{% endblock %}