{% extends "base.html" %}
{% load static %}
{% block content %}
	<h1>L'etudiant {{ etudiant.nom }} {{ etudiant.prenom }} à bien été supprimé.</h1>
	<a href="/gestionEtudiant/listeEtudiant"><input type="button" value="Retour à la gestion des étudiants" /></a>
{% endblock %}