{% extends "base.html" %}
{% load static %}
{% block content %}
	
	<h1>Report des décisions du pré-jury et du jury pour l'étudiant {{ assoc.etudiant }}</h1>
	
	<form method='POST' action='/gestionJury/modifierResultat/{{assoc.id}}'>
		{% csrf_token %}
		
		{{ form.as_p }}
		
		<input type="submit" value="Valider"><br><br>
		<input type="reset" value="Annuler">
	</form>
	
	<form method='POST' action='/gestionJury/reporterResultat'>
		{% csrf_token %}
		
		<input type="hidden" name="semestreChoisi" value="{{ assoc.semestre.id }}">
		<input type="submit" value="Retour">
	</form>
	
{% endblock %}