{% extends "base.html" %}
{% load static %}
{% block content %}
<div id="textGen">
	<h1 id="h1Long">Generation d'un PV</h1>

	{% if semestreChoisi %}
		<p>Votre PV pour le {{ semestre.semestre.semestre }} de {{ semestre.anneeUniversitaire.anneeUniversitaire }} est prêt</p>
		{% if 'Docs_Ageil' in fichier %}
			<p>Vous pouvez le consulter en vous rendant dans le dossier Docs_Ageil présent sur le Bureau</p>
			<p>{{ fichier }}</p>
			<p><i>Remarque : Vous pouvez aussi trouver le fichier dans le dossier excel/fichierGenerer/PV de l'application.</i></p>
		{% endif %}
	{% else %}

	<p>Cette partie va générer un document contenant : <strong>Les noms des étudiants et leurs résultats</strong></p>
	
	<ul>
		<li>Si les étudiants ont <strong>validé leur semestre :</strong> Leur nom, prénom et leur résultats seront affichés dans une première partie.</li>
		<li>Si les étudiants <strong>n'ont pas validé leur semestre :</strong> Leur nom prénom et UE capitalisé seront affichés dans une deuxième partie.</li>  
	</ul>
	<p><i>Le trie est effectué par ordre alphabétique.</i></p>
	
	<h2>Veuillez choisir un semestre annualise</h2>
	
	<form action="#" method="POST">
	{% csrf_token %}
	<select name="semestreChoisi">
    {% for sa in semestreAnnualises %}
		<option value="{{ sa.id }}">{{ sa }}</option>
	{% endfor %}
	</select>
	
	<h2>Sélectionnez la date à faire apparaître sur le document :</h2>
	
	<input name="dateChoisie" type="date"/><br/>
	
	<h2>Entrez le nom du président du jury :</h2>
	
	<input name="dirJury" type="text"/><br/><br/>
	
    <input type="submit" value="Valider" />
	</form>

</div><!-- fin div id="textGen"-->
	
	{% endif %}

	
{% endblock %}
