{% extends "base.html" %}
{% load static %}
{% block content %}
	<h1>Page en cours de travaux !</h1>
	
	<p>Cette jolie page blanche sera bientôt fonctionnelle.</p>
	
	<input type="Button" value="Retour à la page précédente" onClick="history.go(-1);return true;">
{% endblock %}