{% extends "base.html" %}
{% load static %}
{% block content %}
<h1>Consulter les statistiques</h1>

	{% if messageAAfficher %}
		<p>{{messageAAfficher}}</p>
	{% endif %}

	{% if existeAnnee == 0 %}
			<h2>Vous n'avez pas encore créé d'année univeritaire</h2>
	{% else %}
			<form method='POST' action="gestionStatistique/calculerStatistiquesDePromoN">
				{% csrf_token %}

				<p><label for="annee">Année universitaire :</label> <select id="annee" name="annee" required>
					{% for annee in AnneesUniversitaires %}
						<option value="{{annee}}">{{annee}}</option>
					{% endfor %}
				</select>

				<p><label for="semestre">Semestre :</label> <select id="semestre" name="semestre" required>
					{% for semestre in SemestrePossibles %}
						<option value="{{semestre}}">{{semestre}}</option>
					{% endfor %}
				</select>
				{{ form.as_p }}
				</br>
				<input type="submit" value="Chercher">
				<input type="button" value="Retour" onClick="history.go(-1);return true;">
			</form>
	{% endif %}

	{% if request.method == 'POST' %}
		{% if nombreEtudiant == 0 %}
			<h2>Vous n'avez pas encore importé des étudiants</h2>
		{% else %}

			<p>Il y a {{nombreEtudiant}} étudiants pour année Universitaire de {{anneeUniversitaire}} et semestre de {{semestre}}</p>
			{% if nombreSexeNull %}
				<p>Vous n'avez pas encore fini d'attribué le sexe aux étudiants</p>
			{% else %}
				<p> {{FillePourcent}} % Filles </p>
			{% endif %}

			{% if nombreBacNull > 0 %}
				<p>Vous n'avez pas encore fini d'attribué les bac aux étudiants</p>
			{% else %}
				<p> {{BacGeneralPourcent}} % Bac général </p>
				<p> {{BacTechnologiePourcent}} % Bac technologieque</p>
				<p> {{BacProfessionnelPourcent}} % Bac professionnel</p>
				<p> {{BacAutrePourcent}} % autre Bac</p>
			{% endif %}
			{% if nombreResultatValide == 0  %}
				<p>Vous n'avez pas encore généré les résultats</p>
			{% else %}
				<p>	{{TauxReussiDeCeSemestre}} % étudiants ont eu la moyenne pour année Universitaire de {{anneeUniversitaire}} et semestre de {{semestre}}</p>
			{% endif %}
		{% endif %}

 	{% endif %}


{% endblock %}
